<div class="row" align="center">
    <h3>{{currentLocationName}}</h3>
</div>

<div class="row" align="center">
    <div class="col-lg-12 col-sm-12">
        <ng-map zoom={{zoomLevel}} center={{currentPosition}} class="map">
            <shape name="polyline" path={{route.locationPoints}} geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2" ng-repeat="route in routes">
            </shape>
            <marker ng-repeat="marker in markers" position="{{marker.pos}}" title="pos: {{marker.name}}"></marker>
            <marker position="{{currentPosition}}"></marker>
        </ng-map>
    </div>
</div>
<div class="row animated-show-hide" align="center" ng-repeat="route in routes">
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <h3>Distance: {{route.distance}}</h3>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <h3>Time: {{route.time}}</h3>
    </div>
</div>

